* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

header {
    background-image: url(./img/hero_bg.jpg) !important;
    background-size: cover;
    height: 100vh;
}

nav a {
    text-decoration: none;
    color: rgb(141, 141, 141);

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-inline-end: 20px;
}

nav li:hover {

    color: black;
}


.back {
    width: 140px;
    /* height: 30px; */
    padding: 0 !important;
    background: none !important;
    color: gray !important;
    border: none !important;
    outline: none !important;
    font-size: 15px !important;
}

.back:hover {
    color: black !important;
}

.margin {
    margin-top: 200px !important;
}

.margin h1 {
    font-size: 60px;

}

.spanhead {
    font-weight: 800;
    color: rgb(180, 156, 115);
}
.spanpara{
    color: rgb(180, 156, 115);
    text-decoration: underline;
}